/*
Main sections: Reset, GlobalStyles, Typography, Components, Heading, Mainstyles, Footer
*/

/* -----RESET ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----GLOBAL STYLES----- */

body {
    background-color: #EEEEEE;
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

section {
    text-align: center;
    padding: 0 10%;
}

img {
    max-width: 100%;
}

/* -----TYPOGRAPHY----- */

p {
    font-size: 14px;
    line-height: 1.6;
}

@media screen and (min-width: 1024px){
    p {
        font-size: 18px;
    }
}

/* -----COMPONENTS----- */

.section-header {
    padding: 42px 0 20px;
    font-size: 22px;
    color: #FF1100;
}

/* -----HEADER----- */

header {
    text-align: center;
}

.logo-bar {
    background-color: #DDDDDD;
    padding: 10px 0;
}

@media screen and (min-width: 1024px) {
    .logo-bar{
        padding: 20px 0;
    }
}

.logo-bar img {
    max-width: 20%;
}

.top {
    padding: 70px 0 40px;
    color: #FFFFFF;
    font-family: 'Source Serif Pro', serif;
    background: url('../graphic/header.jpg') 0 0;
    background-size: cover;
}

.top h1{
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .top h1 {
        margin-bottom: 80px;
        font-size: 165px;
    }
}

.top p{
    font-size: 14px;
    line-height: 1.5;
}

@media screen and (min-width: 1024px) {
    .top p {
        font-size: 50px;
    }
}

.top a{
    margin: 20px 0 0;
    display: inline-block;
    padding: 10px 24px;
    color: #EEEEEE;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #EEEEEE;
}

@media screen and (min-width: 1024px) {
    .top a {
        margin: 40px 0 0;
        padding: 20px 50px;
        font-size: 26px;
    }
}

.top a:hover {
    color: #4C5A7D;
    background-color: #FFFFFF;
}

nav {
    background-color: white;
    box-shadow: 1px 1px 0 #AAAAAA;
}

nav li {
    padding: 15px 0;   
}

@media screen and (min-width: 1024px) {
    nav li {
        padding: 50px;
        display: inline-block;
    }
}

nav a{
    color: #3825FF;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (min-width: 1024px){
    nav a{
        font-size: 24px;
    }
}