/*
Main sections: Reset, GlobalStyles, Typography, Components, Heading, Mainstyles, Footer
*/

/* -----RESET ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----GLOBAL STYLES----- */

body {
    background-color: #EEEEEE;
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

section {
    text-align: center;
    padding: 0 10%;
}

img {
    max-width: 100%;
}

/* -----TYPOGRAPHY----- */

p {
    font-size: 14px;
    line-height: 1.6;
}

@media screen and (min-width: 1024px){
    p {
        font-size: 18px;
    }
}

/* -----COMPONENTS----- */

.section-header {
    padding: 42px 0 20px;
    font-size: 22px;
    color: #3825FF;
}

@media screen and (min-width: 1024px){
    .section-header {
        padding: 0;
    }
}

/* -----HEADER----- */

header {
    text-align: center;
}

.logo-bar {
    background-color: #DDDDDD;
    padding: 10px 0;
}

@media screen and (min-width: 1024px) {
    .logo-bar{
        padding: 20px 0;
    }
}

.logo-bar img {
    max-width: 20%;
}

.top {
    padding: 70px 0 40px;
    color: #FFFFFF;
    font-family: 'Source Serif Pro', serif;
    background: url('../graphic/header.jpg') 0 0;
    background-size: cover;
}

.top h1{
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .top h1 {
        margin-bottom: 80px;
        font-size: 165px;
    }
}

.top p{
    font-size: 14px;
    line-height: 1.5;
}

@media screen and (min-width: 1024px) {
    .top p {
        font-size: 50px;
    }
}

.top a{
    margin: 20px 0 0;
    display: inline-block;
    padding: 10px 24px;
    color: #EEEEEE;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #EEEEEE;
}

@media screen and (min-width: 1024px) {
    .top a {
        margin: 40px 0 0;
        padding: 20px 50px;
        font-size: 26px;
    }
}

.top a:hover {
    color: #4C5A7D;
    background-color: #FFFFFF;    
}

nav {
    background-color: white;
    box-shadow: 1px 1px 0 #AAAAAA;
}

nav li {
    padding: 15px 0;   
}

@media screen and (min-width: 1024px) {
    nav li {
        padding: 50px;
        display: inline-block;
    }
}

nav a{
    color: #3825FF;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (min-width: 1024px){
    nav a{
        font-size: 24px;
    }
}

/* -----MAIN STYLES----- */

@media screen and (min-width: 1024px){
    .section-welcome h1 {
        margin: 160px 0 70px;
        font-size: 70px;
    }
    .section-two h1 {
        margin: 25px 0 50px;
        font-size: 34px;
    }
}

.welcome-first-image {
    display: none;
}

@media screen and (min-width: 1024px) {
    .welcome-first-image {
        display: inline-block;
}
}

.section-two {
    padding: 0 10% 30px;
}

@media screen and (min-width: 1024px) {
    .section-two {
    padding: 0 10% 60px;
    }
}

.section-two img {
    padding: 20px 0 0;
    max-width: 30%;
}

@media screen and (min-width: 1024px){
    .section-two img {
        padding: 65px 0 0;
    }
}

.section-welcome img {
    width: 47%;
    display: inline-block;
}

.section-offer {
    padding: 30px 10% 50px;
    background: url('../graphic/fault.jpeg') 0 0;
}

@media screen and (min-width: 1024px){
    .section-offer {
        padding: 65px 20% 130px;
}
}

.section-offer-single img {
    margin: 0 0 20px;
    max-width: 10%;
}

.section-offer-single p {
    color: white;
}

.section-offer-single:first-child {
    margin: 0 0 45px;
}

.section-newsletter {
    background-color: #EFEEE9;
    padding: 40px 0 20px;
}

@media screen and (min-width: 1024px){
    .section-newsletter {   
        padding: 100px 0 20px;
    }
}

.section-newsletter h2 {
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4421FF;
}

@media screen and (min-width: 1024px){
    .section-newsletter h2 {
        font-size: 24px;
    }
}

.section-newsletter form {
    margin: 0 0 30px;
}

.section-newsletter input {
    display: block;
    width: 35%;
    border: 1px solid #D2CFC6;
    height: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    padding: 0 0 0 20px; 
    margin: 0 auto 10px;
}

@media screen and (min-width: 1024px){
    .section-newsletter input{
        display: inline-block;
        height: 50px;
        font-size: 16px;
    }
}

.section-newsletter button {
    padding: 10px 40px;
    border: 1px solid #4421FF;
    background-color: #4421FF;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .section-newsletter button {
        padding: 18px 60px;
        margin: 0 0 0 10px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px){
    .section-newslatter-wrapper {
        width: 75%;
        margin: 0 auto;
    }
}

.social-links img {
    max-width: 10%;
}

@media screen and (min-width: 1024px){
    .social-links img {
        margin: 60 px 0 0;
    }
}
/* ----- FOOTER ----- */

footer {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}
